<div class="form-container">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label> Title:
      <input type="text" name="title" formControlName="title"  />
    </label>
    <label> Description:
      <textarea type="text" name="description" formControlName="description"></textarea>
    </label>
    <label class="check-box"> Completed:
      <input type="checkbox" name="completed" formControlName="completed">
    </label>
    <button [disabled]="!reactiveForm.valid" type="submit">{{(editMode$ | async)? 'Edit' : 'Create'}}</button>
  </form>

  <div *ngIf="showProgress$ | async" class="progress-bar">
    <p>Progressing...</p>
  </div>
</div>

