<div class="form-container">
  <form *ngIf="loggedIn$ | async"  [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label> Title:
      <input type="text" name="title" formControlName="title"  />
    </label>
    <label> Description:
      <textarea type="text" name="description" formControlName="description"></textarea>
    </label>
    <label class="check-box"> Completed:
      <input type="checkbox" name="completed" formControlName="completed">
    </label>
    <button type="submit">Submit</button>
  </form>
  <app-login *ngIf="!(loggedIn$ | async)"></app-login>
</div>
