:host {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: rgb(236, 232, 232);
    margin: 5px;
    border-radius: 5px;
    border-left: 2px solid orange;

    .tasks {
      display: flex;
      flex-direction: column;
      gap: 3px;
      @media(min-width: 768px){
        flex-direction: row;
        gap: 30px;
      }
      .task {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .icons {
      display: flex;
      height: 0;
      gap: 12px;
      align-items: center;
      .edit {
        cursor: pointer;
        scale: .3;
        transition: all .5s ease-in-out;
        &:hover {
          scale: .4;
        }
      }
      .delete {
        cursor: pointer;
        scale: .7;
        fill: red;
        transition: all .5s ease-in-out;
        &:hover {
          scale: 1;
        }
      }
    }
  }

  &.others {
    .container {
      background-color: rgb(245, 225, 225);
      .delete, .edit {
        display: none;
      }
    }
  }

  &.completed {
    .container {
      border-left: 2px solid green;
    }
  }
}
