:host {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: rgb(236, 232, 232);
    margin: 5px;
    border-radius: 5px;

    .icons {
      display: flex;
      height: 0;
      gap: 12px;
      align-items: center;
      .edit {
        cursor: pointer;
        scale: .4;
        transition: all .5s ease-in-out;
        &:hover {
          scale: .5;
        }
      }
      .delete {
        cursor: pointer;
        fill: red;
        transition: all .5s ease-in-out;
        &:hover {
          scale: 1.5;
        }
      }
    }
  }

  &.others {
    .container {
      background-color: rgb(245, 225, 225);
      .delete, .edit {
        display: none;
      }
    }
  }
}
